.skillSetWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 1%;

    .skillContainer {
        margin: 13% 20%;

        .skillWapper {
            list-style-type: none;
            position: relative;

            .frontend-skillSubWrapper,
            .backend-skillSubWrapper,
            .cloud-skillSubWrapper {
                left: 5%;
                position: absolute;
                top: 0px;
                width: 175px;
                height: 275px;
                border-radius: 10px;
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                transition: transform 0.5s ease;

                .nameWrapper {
                    margin: 20% 0;
                }

                .nameStyle {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 50px;
                    left: 10px;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    -webkit-writing-mode: vertical-rl;
                    writing-mode: vertical-rl;
                    letter-spacing: 1.5px;
                    transform: translate(-50%, -50%) rotate(calc(var(--index) * 20deg));
                }

                .iconWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .iconContainer {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    margin: 20% 0;
                }

                .lastName {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 50px;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    -webkit-writing-mode: vertical-rl;
                    writing-mode: vertical-rl;
                    letter-spacing: 1.5px;
                }
            }

        }
    }

    .desWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ratingStyle {
            display: flex;
            margin: 1%;
        }
    }
}