.homeWrapper {
    height: 100%;
    width: 100%;
    margin: 10px 0;

    .imageWrapper {
        display: flex;
        justify-content: space-between;
        margin: 2% 3%;

        .profileImage {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }

        .list {
            align-items: center;
            display: flex;

            .listStyle {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                font-size: 1em;
                list-style: none;

                .selectedStyle {
                    text-decoration: underline;
                    text-underline-offset: 0.25em;
                }
            }
        }
    }
}

li { 
    margin: 10px;   
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}