.profileWrapper {
    
    .cardWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 5rem;

        .cardStyle {
            max-width: 350px;
            margin: 10px 20px;
            width: 100%;
            height: 220px;
            padding-top: 20px;
            background: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 14px 26px;
            transition: all 0.4s ease-out 0s;
            position: relative;

            .frontStyle {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background: #000;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.4s ease-out;
            } 
        }
        .cardStyle:hover {
            background-color: #000;
            color: #fff;
            transform: translateY(-5px) scale(1.005) translateZ(0);
        }
    }
}