.workWrapper {
    
    .headerStyle {
        margin: 2%;
    }

    .detailContainer {
        position: relative;
        max-width: 1200px;
        margin: 0px auto;
    }

    .detailContainer::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0px;
        bottom: 0px;
        left: 50%;
        margin-left: -3px
    }

    .timeLineContainerRight,
    .timeLineContainerLeft {
        padding: 10px 0;
        position: relative;
        background-color: inherit;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .detailContainer>div:nth-child(odd) {
        left: 0px !important;
    }

    .detailContainer>div:nth-child(even) {
        left: 50% !important;
    }

    .timeLineContainer::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid rgb(255, 159, 85);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .timeLineContainerLeft::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: -17px;
        background-color: white;
        border: 4px solid rgb(255, 159, 85);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .timeLineContainerRight::after  {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid rgb(255, 159, 85);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .timeLineDetails {
        padding: 20px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        width: 40%;
    }

    .dateRightDetails {
        position: absolute;
        top: 24px;
        right: -95px;
        font-size: 0.85em;
        opacity: 0.5;
    }

    .dateLeftDetails {
        position: absolute;
        top: 24px;
        left: -95px;
        font-size: 0.85em;
        opacity: 0.5;
    }
}